@{
    ViewData["Title"] = "AcessServiceDirectly";
}
@inject Calculate calc

<h1>AcessServiceDirectly</h1>

<b>Rand Value First : @calc.val1</b><br>
<b>Rand Value Second : @calc.val2</b><br>
<b>Add :</b>
<p class="m-0">@calc.Add()</p>
<b>Sub :</b>
<p class="m-0">@calc.Sub()</p>
<b>Mult :</b>
<p class="m-0">@calc.Mult()</p>
<b>Div :</b>
<p class="m-0">@calc.Div()</p>
